<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Service Platform{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

 
  <nav>
    <ul id="navbar">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'mypay' %}">MyPay</a></li>
      <li><a href="{% url 'discount' %}">Discount</a></li>
      <li><a href="{% url 'profile' %}">Profile</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
  </nav>

 
  <div class="content">
    {% block content %}{% endblock %}
  </div>

</body>
</html>
